<!DOCTYPE html>
<html lang="en">

<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8">
	<meta name="author" content="BlogTheme">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Blog Theme | HTML Template</title>
	<!-- Favicon -->
	<link rel="icon" href="/web/assets/images/favicon.png">
	<!-- Bootstrap css -->
	<link rel="stylesheet" type="text/css" href="/web/assets/css/bootstrap.min.css">
	<!-- Owl Carousel css -->
	<link rel="stylesheet" type="text/css" href="/web/assets/css/owl.carousel.min.css">
	<link rel="stylesheet" type="text/css" href="/web/assets/css/owl.theme.default.min.css">
	<!-- GlightBox css -->
	<link rel="stylesheet" type="text/css" href="/web/assets/css/glightbox.min.css">
	<!-- Main css -->
	<link rel="stylesheet" type="text/css" href="/web/assets/css/main.css">
	<!-- Responsive css -->
	<link rel="stylesheet" type="text/css" href="/web/assets/css/responsive.css">
</head>

<%- body %>

</html>