<body>
	<!--Header Start -->
	<%- include('../partials/header') %>
	<!--Header End -->

	<!--Breadcrumb	Section Start -->
	<section class="herosection breadcrumbsection">
		<div class="container">
			<div class="row patb-100 align-items-end row-gap-4">
				<div class="col-12 text-center">
					<h2 class="mainheading mb-sm-3 mb-2">About Us</h2>
					<p class="fs-20 m-0">Lorem ipsum dolor sit amet consectetur.</p>
				</div>
				<div class="col-auto mx-auto">
					<nav aria-label="breadcrumb" class="breadcrumbs">
                        <ol class="breadcrumb m-0 justify-content-center">
                            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">About Us</li>
                        </ol>
                    </nav>
				</div>
			</div>
		</div>
	</section>
	<!--Breadcrumb	Section End -->

	<!--Vison Section Start -->
	<section class="patb-100 aboutus-section">
		<div class="container innerfluid">
			<div class="row row-gap-4 align-items-center">
				<div class="col-xl-5 col-lg-6 order-lg-1 order-2">
					<div class="row">
						<div class="col-12 sectionHeading">
							<h3 class="heading m-0"><span class="h5 m-0">About Us</span> Know our Publication Media & Vision.</h3>
						</div>
						<div class="col-12 mb-4"><p class="m-0 maintext">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam quis labore fuga obcaecati repudiandae molestias dicta ipsa odit ullam reiciendis.</p></div>
						<div class="col-12 mb-4"><p class="m-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus vitae minus qui optio provident tempora voluptas molestiae beatae quod deleniti, veritatis excepturi quia ullam consequatur sunt repellendus tenetur totam consequuntur nesciunt corrupti nostrum, mollitia atque. Similique eos laudantium exercitationem dolorem!</p></div>
						<div class="col-12 "><a href="javascript:;" class="themebtn fill">More Details</a></div>
					</div>
				</div>
				<div class="col-lg-6 text-center me-lg-0 mx-auto col-md-10 col-sm-11 col-12 order-lg-2 order-1">
					<div class="user-img">
						<img src="/web/assets/images/abouts.png" height="100" width="100" alt="about" class="aboutimg">
						<!-- <ul class="d-flex align-items-center gap-2 rating">
							<li><img src="/web/assets/images/icon/star.svg" height="16" width="16" alt="star"></li>
							<li><img src="/web/assets/images/icon/star.svg" height="16" width="16" alt="star"></li>
							<li><img src="/web/assets/images/icon/star.svg" height="16" width="16" alt="star"></li>
							<li><img src="/web/assets/images/icon/star.svg" height="16" width="16" alt="star"></li>
							<li><img src="/web/assets/images/icon/star.svg" height="16" width="16" alt="star"></li>
						</ul> -->
					</div>
				</div>
			</div>
			<img src="/web/assets/images/cross-shap.svg" class="shape shape-1" height="50" width="50" alt="shap">
			<img src="/web/assets/images/cross-shap.svg" class="shape shape-2" height="50" width="50" alt="shap">
			<img src="/web/assets/images/cross-dots.svg" class="shape shape-3" height="100" width="100" alt="shap">
		</div>
	</section>
	<!--Vison Section End -->

	<!-- Counter Section Start -->
	<section class="pab-100 countersection">
		<div class="innerfluid patb-100">
			<div class="container">
				<div class="row row-gap-3 countergroup">
					<div class="col-md-3 col-6 counter text-center">
						<div class="h1 counters fw-bold"><span class="count" data-number="12"></span>+</div>
						<h6 class="countername text-nowrap fw-normal">Years of Experience</h6>
					</div>
					<div class="col-md-3 col-6 counter text-center">
						<div class="h1 counters fw-bold"><span class="count" data-number="158"></span>+</div>
						<h6 class="countername text-nowrap fw-normal">Total Blogs</h6>
					</div>
					<div class="col-md-3 col-6 counter text-center">
						<div class="h1 counters fw-bold"><span class="count" data-number="18"></span>+</div>
						<h6 class="countername text-nowrap fw-normal">Awards Winning</h6>
					</div>
					<div class="col-md-3 col-6 counter text-center border-0">
						<div class="h1 counters fw-bold"><span class="count" data-number="50"></span>+</div>
						<h6 class="countername text-nowrap fw-normal">Happy Clients</h6>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Counter Section End -->

	<!--vedio Section End -->
	<section class="videosection patb-100">
		<div class="container p-0 innerbody">
			<!-- <div class="bgimg"><img src="/web/assets/images/videobg.jpg" class="w-100" height="100" width="100" alt="user"></div> -->
			<div class="innerfluid h-100">
				<div class="row align-items-center justify-content-center h-100 mx-0">
					<div class="col-auto"><a class="play-btn glightbox" href="/web/assets/images/video.mp4"></a></div>
				</div>
			</div>
			<div class="video-top p-sm-4 p-3">
				<h3 class="heading m-0"><span class="h5 m-0">Watch Our Video</span> <div class="d-flex align-items-center gap-3">Find your dream blog <img src="/web/assets/images/icon/arrow-dark.svg" height="50" width="50" class="arrowimg" alt="arrow"></div></h3>
			</div>
		</div>
	</section>
	<!--vedio Section End -->

	<!--Teams Section Start -->
	<section class="testimonial pab-100">
		<div class="container-fluid ">
			<div class="container">
				<div class="authorcard">
					<div class="row">
						<div class="col-12 sectionHeading">
							<div class="row align-items-center row-gap-2">
								<div class="col"><h3 class="heading"><span class="h5 m-0">Meet Our</span> Your Favorite Presenters</h3></div>
								<div class="col-auto"><a href="javascript:;" class="themebtn">View All</a></div>
							</div>
						</div>
						<div class="col-12">
							<div class="owl-carousel audioartical-slider navcenter">
								<div class="item">
									<div class="card teamcard rounded-0 overflow-hidden border-0 h-100">
										<div class="card-img rounded-20 overflow-hidden"><img src="/web/assets/images/team-01.jpg" height="100" width="100" alt="team" class="w-100"></div>
										<div class="card-body userdetails ">
											<div class="social">
												<ul class="socialmedia dark border-0 share">
													<li><a href="javascript:;"><img class="h-100" src="/web/assets/images/icon/Share.svg" height="100" width="100" alt="Share"></a></li>
												</ul>
												<ul class="socialmedia dark border-0 newsocial">
													<li><a href="javascript:;"><img class="h-100" src="/web/assets/images/icon/instagram-white.svg" height="100" width="100" alt="insta"></a></li>
													<li><a href="javascript:;"><img class="h-100" src="/web/assets/images/icon/facebook.svg" height="100" width="100" alt="fb"></a></li>
													<li><a href="javascript:;"><img class="h-100" src="/web/assets/images/icon/social.svg" height="100" width="100" alt="social"></a></li>
													<li><a href="javascript:;"><img class="h-100" src="/web/assets/images/icon/twitter.svg" height="100" width="100" alt="twiter"></a></li>
												</ul>
											</div>
											<div class="member-desc">								
												<h6 class="m-0">Devon Lane</h6>
												<span class="team-title fs-14">Sir Brandman</span>
											</div>	
										</div>
									</div>
								</div>
								<div class="item">
									<div class="card teamcard rounded-0 overflow-hidden border-0 h-100">
										<div class="card-img rounded-20 overflow-hidden"><img src="/web/assets/images/team-03.jpg" height="100" width="100" alt="team" class="w-100"></div>
										<div class="card-body userdetails ">
											<div class="social">
												<ul class="socialmedia dark border-0 share">
													<li><a href="javascript:;"><img class="h-100" src="/web/assets/images/icon/Share.svg" height="100" width="100" alt="Share"></a></li>
												</ul>
												<ul class="socialmedia dark border-0 newsocial">
													<li><a href="javascript:;"><img class="h-100" src="/web/assets/images/icon/instagram-white.svg" height="100" width="100" alt="insta"></a></li>
													<li><a href="javascript:;"><img class="h-100" src="/web/assets/images/icon/facebook.svg" height="100" width="100" alt="fb"></a></li>
													<li><a href="javascript:;"><img class="h-100" src="/web/assets/images/icon/social.svg" height="100" width="100" alt="social"></a></li>
													<li><a href="javascript:;"><img class="h-100" src="/web/assets/images/icon/twitter.svg" height="100" width="100" alt="twiter"></a></li>
												</ul>
											</div>
											<div class="member-desc">								
												<h6 class="m-0">Robert Fox</h6>
												<span class="team-title fs-14">Sir Brandman</span>
											</div>	
										</div>
									</div>
								</div>
								<div class="item">
									<div class="card teamcard rounded-0 overflow-hidden border-0 h-100">
										<div class="card-img rounded-20 overflow-hidden"><img src="/web/assets/images/team-04.jpg" height="100" width="100" alt="team" class="w-100"></div>
										<div class="card-body userdetails ">
											<div class="social">
												<ul class="socialmedia dark border-0 share">
													<li><a href="javascript:;"><img class="h-100" src="/web/assets/images/icon/Share.svg" height="100" width="100" alt="Share"></a></li>
												</ul>
												<ul class="socialmedia dark border-0 newsocial">
													<li><a href="javascript:;"><img class="h-100" src="/web/assets/images/icon/instagram-white.svg" height="100" width="100" alt="insta"></a></li>
													<li><a href="javascript:;"><img class="h-100" src="/web/assets/images/icon/facebook.svg" height="100" width="100" alt="fb"></a></li>
													<li><a href="javascript:;"><img class="h-100" src="/web/assets/images/icon/social.svg" height="100" width="100" alt="social"></a></li>
													<li><a href="javascript:;"><img class="h-100" src="/web/assets/images/icon/twitter.svg" height="100" width="100" alt="twiter"></a></li>
												</ul>
											</div>
											<div class="member-desc">								
												<h6 class="m-0">Code Fisher</h6>
												<span class="team-title fs-14">Sir Brandman</span>
											</div>	
										</div>
									</div>
								</div>
								<div class="item">
									<div class="card teamcard rounded-0 overflow-hidden border-0 h-100">
										<div class="card-img rounded-20 overflow-hidden"><img src="/web/assets/images/team-05.jpg" height="100" width="100" alt="team" class="w-100"></div>
										<div class="card-body userdetails ">
											<div class="social">
												<ul class="socialmedia dark border-0 share">
													<li><a href="javascript:;"><img class="h-100" src="/web/assets/images/icon/Share.svg" height="100" width="100" alt="Share"></a></li>
												</ul>
												<ul class="socialmedia dark border-0 newsocial">
													<li><a href="javascript:;"><img class="h-100" src="/web/assets/images/icon/instagram-white.svg" height="100" width="100" alt="insta"></a></li>
													<li><a href="javascript:;"><img class="h-100" src="/web/assets/images/icon/facebook.svg" height="100" width="100" alt="fb"></a></li>
													<li><a href="javascript:;"><img class="h-100" src="/web/assets/images/icon/social.svg" height="100" width="100" alt="social"></a></li>
													<li><a href="javascript:;"><img class="h-100" src="/web/assets/images/icon/twitter.svg" height="100" width="100" alt="twiter"></a></li>
												</ul>
											</div>
											<div class="member-desc">								
												<h6 class="m-0">Devon Lane</h6>
												<span class="team-title fs-14">Sir Brandman</span>
											</div>	
										</div>
									</div>
								</div>
								<div class="item">
									<div class="card teamcard rounded-0 overflow-hidden border-0 h-100">
										<div class="card-img rounded-20 overflow-hidden"><img src="/web/assets/images/team-02.jpg" height="100" width="100" alt="team" class="w-100"></div>
										<div class="card-body userdetails ">
											<div class="social">
												<ul class="socialmedia dark border-0 share">
													<li><a href="javascript:;"><img class="h-100" src="/web/assets/images/icon/Share.svg" height="100" width="100" alt="Share"></a></li>
												</ul>
												<ul class="socialmedia dark border-0 newsocial">
													<li><a href="javascript:;"><img class="h-100" src="/web/assets/images/icon/instagram-white.svg" height="100" width="100" alt="insta"></a></li>
													<li><a href="javascript:;"><img class="h-100" src="/web/assets/images/icon/facebook.svg" height="100" width="100" alt="fb"></a></li>
													<li><a href="javascript:;"><img class="h-100" src="/web/assets/images/icon/social.svg" height="100" width="100" alt="social"></a></li>
													<li><a href="javascript:;"><img class="h-100" src="/web/assets/images/icon/twitter.svg" height="100" width="100" alt="twiter"></a></li>
												</ul>
											</div>
											<div class="member-desc">								
												<h6 class="m-0">Eleanor Pena</h6>
												<span class="team-title fs-14">Sir Brandman</span>
											</div>	
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--Teams Section End -->

	<!--Clients Section Start -->
	<section class="pab-100 clients-section">
		<div class="container-fluid">
			<div class="container">
				<div class="innerfluid patb-100">
					<div class="row row-gap-4">
						<div class="col-lg-6">
							<h3 class="heading mb-sm-4 mb-3"><span class="h5 m-0">Clients Testimonial</span>Client’s Speeches About Blogify</h3>
							<p class="m-0">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Rerum est sequi fugiat temporibus debitis odio! Quod recusandae omnis provident dicta facilis, illo atque officiis saepe fugit, reiciendis autem laborum voluptatibus, hic doloremque laboriosam? Distinctio neque temporibus molestias, aperiam optio id!</p>
							<a href="javascript:;" class="themebtn mt-sm-4 mt-3">Try it  Now</a>
							<div class="d-flex align-items-center gap-2 usersimg mt-sm-4 mt-3 pt-sm-4 pt-3"><img src="/web/assets/images/users.png" height="40" width="100" alt="users">Satisfied clients of Blogify</div>
						</div>
						<div class="col-lg-6">
							<div class="owl-carousel client-testimonial navcenter">
								<div class="card clientcard border-0">
									<div class="card-body">
										<p class="h5 about-text">"Lorem ipsum dolor sit, amet consectetur adipisicing elit. Recusandae voluptas, in ratione labore voluptatum perferendis at repudiandae dicta et atque earum officiis deserunt quasi laboriosam. Numquam minus ratione, quibusdam neque sunt, quo magnam, rem dolore tenetur tempora vel inventore quaerat."</p>
										<div class="author pt-sm-4 pt-3 mt-sm-4 mt-3 wigits">
											<div class="card wightscard bg-transparent">
												<div class="card-body p-0 d-flex flex-sm-row flex-column gap-2 align-items-sm-center justify-content-between">
													<ul class="trending-topic authors">
														<li class="bg-transparent p-0">
															<div class="topicimg rounded-circle"><img src="/web/assets/images/client1.jpg" height="100" width="100" alt="trending"></div>
															<div class="content fs-16">Truelock Alric <span>Web Designer</span></div>
														</li>
													</ul>
													<ul class="d-flex align-items-center gap-2 rating">
														<li><img src="/web/assets/images/icon/star.svg" height="16" width="16" alt="star"></li>
														<li><img src="/web/assets/images/icon/star.svg" height="16" width="16" alt="star"></li>
														<li><img src="/web/assets/images/icon/star.svg" height="16" width="16" alt="star"></li>
														<li><img src="/web/assets/images/icon/star.svg" height="16" width="16" alt="star"></li>
														<li><img src="/web/assets/images/icon/star.svg" height="16" width="16" alt="star"></li>
													</ul>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="card clientcard border-0">
									<div class="card-body">
										<p class="h5 about-text">"Lorem ipsum dolor sit, amet consectetur adipisicing elit. Recusandae voluptas, in ratione labore voluptatum perferendis at repudiandae dicta et atque earum officiis deserunt quasi laboriosam. Numquam minus ratione, quibusdam neque sunt, quo magnam, rem dolore tenetur tempora vel inventore quaerat."</p>
										<div class="author pt-sm-4 pt-3 mt-sm-4 mt-3 wigits">
											<div class="card wightscard bg-transparent">
												<div class="card-body p-0 d-flex flex-sm-row flex-column gap-2 align-items-sm-center justify-content-between">
													<ul class="trending-topic authors">
														<li class="bg-transparent p-0">
															<div class="topicimg rounded-circle"><img src="/web/assets/images/client2.jpg" height="100" width="100" alt="trending"></div>
															<div class="content fs-16">Birrell Chariot <span>Human Resources</span></div>
														</li>
													</ul>
													<ul class="d-flex align-items-center gap-2 rating">
														<li><img src="/web/assets/images/icon/star.svg" height="16" width="16" alt="star"></li>
														<li><img src="/web/assets/images/icon/star.svg" height="16" width="16" alt="star"></li>
														<li><img src="/web/assets/images/icon/star.svg" height="16" width="16" alt="star"></li>
														<li><img src="/web/assets/images/icon/star.svg" height="16" width="16" alt="star"></li>
														<li><img src="/web/assets/images/icon/star.svg" height="16" width="16" alt="star"></li>
													</ul>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="card clientcard border-0">
									<div class="card-body">
										<p class="h5 about-text">"Lorem ipsum dolor sit, amet consectetur adipisicing elit. Recusandae voluptas, in ratione labore voluptatum perferendis at repudiandae dicta et atque earum officiis deserunt quasi laboriosam. Numquam minus ratione, quibusdam neque sunt, quo magnam, rem dolore tenetur tempora vel inventore quaerat."</p>
										<div class="author pt-sm-4 pt-3 mt-sm-4 mt-3 wigits">
											<div class="card wightscard bg-transparent">
												<div class="card-body p-0 d-flex flex-sm-row flex-column gap-2 align-items-sm-center justify-content-between">
													<ul class="trending-topic authors">
														<li class="bg-transparent p-0">
															<div class="topicimg rounded-circle"><img src="/web/assets/images/client3.jpg" height="100" width="100" alt="trending"></div>
															<div class="content fs-16">Foulcher Nathanil  <span>Web Developer</span></div>
														</li>
													</ul>
													<ul class="d-flex align-items-center gap-2 rating">
														<li><img src="/web/assets/images/icon/star.svg" height="16" width="16" alt="star"></li>
														<li><img src="/web/assets/images/icon/star.svg" height="16" width="16" alt="star"></li>
														<li><img src="/web/assets/images/icon/star.svg" height="16" width="16" alt="star"></li>
														<li><img src="/web/assets/images/icon/star.svg" height="16" width="16" alt="star"></li>
														<li><img src="/web/assets/images/icon/star.svg" height="16" width="16" alt="star"></li>
													</ul>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--Clients Section End -->

	<!-- FAQ Section Start -->
	<section class="pab-100">
		<div class="container">
			<div class="row row-gap-4 align-items-center">
				<div class="col-lg-5 col-10 mx-lg-0 mx-auto">
					<div class="faqimg text-lg-start"><img src="/web/assets/images/faq2.png" height="100" width="100" class="w-100" alt="faq"></div>
				</div>
				<div class="col-lg-6 ms-auto">
					<div class="sectionHeading"><h3 class="heading"><span class="h5 m-0">faq</span>Frequently Asked Questions</h3></div>
					<div class="accordion" id="accordionExample">
						<div class="accordion-item bg-transparent border-end-0 border-start-0 border-top-0">
							<div class="accordion-header"><button class="accordion-button px-0 h6 m-0 bg-transparent shadow-none pt-0" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">What topics does your blog cover?</button></div>
							<div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
								<div class="accordion-body ps-5 pe-0 pt-0">
									<p class="m-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore recusandae ratione voluptatem et mollitia praesentium rem, corrupti hic quae incidunt in quod blanditiis porro nam pariatur qui consequatur laborum est adipisci modi! Laudantium ullam corporis eos ipsam perferendis optio quis.</p>
								</div>
							</div>
						</div>
						<div class="accordion-item bg-transparent border-end-0 border-start-0 border-top-0">
							<div class="accordion-header"><button class="accordion-button px-0 h6 m-0 bg-transparent shadow-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo"> How often is the blog updated?</button></div>
							<div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
								<div class="accordion-body ps-5 pe-0 pt-0">
									<p class="m-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore recusandae ratione voluptatem et mollitia praesentium rem, corrupti hic quae incidunt in quod blanditiis porro nam pariatur qui consequatur laborum est adipisci modi! Laudantium ullam corporis eos ipsam perferendis optio quis.</p>
								</div>
							</div>
							</div>
						<div class="accordion-item bg-transparent border-end-0 border-start-0 border-top-0">
							<div class="accordion-header"><button class="accordion-button px-0 h6 m-0 bg-transparent shadow-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">How do I subscribe to receive updates from the blog?</button></div>
							<div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
								<div class="accordion-body ps-5 pe-0 pt-0">
									<p class="m-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore recusandae ratione voluptatem et mollitia praesentium rem, corrupti hic quae incidunt in quod blanditiis porro nam pariatur qui consequatur laborum est adipisci modi! Laudantium ullam corporis eos ipsam perferendis optio quis.</p>
								</div>
							</div>
						</div>
						<div class="accordion-item bg-transparent border-end-0 border-start-0 border-top-0">
							<div class="accordion-header"><button class="accordion-button px-0 h6 m-0 bg-transparent shadow-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">Are comments allowed on blog posts?</button></div>
							<div id="collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
								<div class="accordion-body ps-5 pe-0 pt-0">
									<p class="m-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore recusandae ratione voluptatem et mollitia praesentium rem, corrupti hic quae incidunt in quod blanditiis porro nam pariatur qui consequatur laborum est adipisci modi! Laudantium ullam corporis eos ipsam perferendis optio quis.</p>
								</div>
							</div>
						</div>
						<div class="accordion-item bg-transparent border-end-0 border-start-0 border-top-0">
							<div class="accordion-header"><button class="accordion-button px-0 h6 m-0 bg-transparent shadow-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">How can I share a blog post on social media?</button></div>
							<div id="collapseFive" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
								<div class="accordion-body ps-5 pe-0 pt-0">
									<p class="m-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore recusandae ratione voluptatem et mollitia praesentium rem, corrupti hic quae incidunt in quod blanditiis porro nam pariatur qui consequatur laborum est adipisci modi! Laudantium ullam corporis eos ipsam perferendis optio quis.</p>
								</div>
							</div>
						</div>
						<div class="accordion-item bg-transparent border-end-0 border-start-0 border-top-0">
							<div class="accordion-header"><button class="accordion-button px-0 h6 m-0 bg-transparent shadow-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">Do you have a mobile app for accessing the blog on the go?</button></div>
							<div id="collapseSix" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
								<div class="accordion-body ps-5 pe-0 pt-0">
									<p class="m-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore recusandae ratione voluptatem et mollitia praesentium rem, corrupti hic quae incidunt in quod blanditiis porro nam pariatur qui consequatur laborum est adipisci modi! Laudantium ullam corporis eos ipsam perferendis optio quis.</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- FAQ Section End -->

	<!--Footer Start-->
    <%- include('../partials/footer') %>
    <!--Footer End-->

    <!--Scripts Start-->
    <%- include('../partials/scripts') %>
	<script>
		// counters js
		let count = document.querySelectorAll(".count")
		let arr = Array.from(count)

		arr.map(function(item){
		    let startnumber = 0

            function counterup(){
                startnumber++
                item.innerText= startnumber
            
                if(startnumber == item.dataset.number){
                    clearInterval(stop)
                }
            }
            let stop =setInterval(function(){
                counterup()
            },50)

		})
	</script>
</body>