<body>
	<!--Header Start-->
    <%- include('../partials/header') %>
	<!--Header End-->

	<!--Breadcrumb	Section Start-->
	<section class="herosection breadcrumbsection">
		<div class="container">
			<div class="row patb-100 align-items-end row-gap-4">
				<div class="col-12 text-center">
					<h2 class="mainheading mb-sm-3 mb-2">Contact Us</h2>
					<p class="fs-20 m-0">Connect with us and join the conversation!</p>
				</div>
				<div class="col-auto mx-auto">
					<nav aria-label="breadcrumb" class="breadcrumbs">
                        <ol class="breadcrumb m-0 justify-content-center">
                            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Contact Us</li>
                        </ol>
                    </nav>
				</div>
			</div>
		</div>
	</section>
	<!--Breadcrumb	Section End-->

	<!--Contact Us	Section Start-->
	<section class="pat-100 contactus-section">
		<div class="container">
			<div class="row align-items-center row-gap-4">
				<!-- <div class="col-12 sectionHeading"><h3 class="heading">Get In Touch</h3></div> -->
				<div class="col-lg-6">
					<div class="contactusimg text-lg-start text-center"><img src="/web/assets/images/contactus.png" width="100" height="100" alt="contact-us"></div>
				</div>
				<div class="col-lg-6">
					<h3 class="heading sectionHeading"><span class="h5 m-0">Get In Touch</span> Connect with Us: Reach Out Today!</h3>
					<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Hic ad maiores dolores? Ipsum aut reiciendis laudantium error quas veniam placeat.</p>
					<ul class="contactdetails">
						<li><div class="address"><span><img src="/web/assets/images/icon/mail.svg" alt="email"></span></div> <h6 class="m-0 fs-16">example@gmail.com</h6></li>
						<li><div class="address"><span><img src="/web/assets/images/icon/call.svg" alt="call"></span></div> <h6 class="m-0 fs-16">1800-8520-9517, 1800-1500-1472</h6></li>
						<li><div class="address"><span><img src="/web/assets/images/icon/location.svg" alt="elocation"></span></div> <h6 class="m-0 fs-16">2846 VT Road Mansrover Jaipur 302020</h6></li>
					</ul>
					<a href="#contactform" class="themebtn fill mt-4">Contact Us</a>
				</div>
				<!-- <div class="col-12">
					<div class="row row-gap-4">
						<div class="col-12 ">
							<div class="row row-gap-lg-4 row-gap-3">
								<div class="col-lg-4 col-sm-6">
									<div class="card contactcard h-100 rounded-20 office">
										<div class="card-body p-sm-4">
											<div class="address"><span><img src="/web/assets/images/icon/mail.svg" alt="email"></span></div>
											<div class="text text-center mt-4">
												<h6 class="fs-14">EMAIL ADDRESS</h6>
												<h6 class="m-0">example@gmail.com</h6>
											</div>
										</div>
										<a href="mailto:example@gmail.com" class="stretched-link"></a>
									</div>
								</div>
								<div class="col-lg-4 col-sm-6">
									<div class="card contactcard h-100 rounded-20 phone">
										<div class="card-body p-sm-4">
											<div class="address"><span><img src="/web/assets/images/icon/call.svg" alt="email"></span></div>
											<div class="text text-center mt-4">
												<h6 class="fs-14">PHONE NUMBER</h6>
												<h6 class="m-0">1800-8520-9517</h6>
											</div>
										</div>
										<a href="tel:180085209517" class="stretched-link"></a>
									</div>
								</div>
								<div class="col-lg-4 col-12">
									<div class="card contactcard h-100 rounded-20 email">
										<div class="card-body p-sm-4">
											<div class="address"><span><img src="/web/assets/images/icon/location.svg" alt="email"></span></div>
											<div class="text text-center mt-4">
												<h6 class="fs-14">OFFICE ADDRESS</h6>
												<h6 class="m-0">2846 VT Road Mansrover Jaipur 302020</h6>
											</div>
										</div>
										<a href="https://maps.app.goo.gl/YSfr4F6yXva9mCQx5" target="_blank" class="stretched-link"></a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div> -->
			</div>
		</div>
	</section>

	<section class="patb-100 contactus-sections" id="contactform">
		<div class="container">
			<div class="card contactcard rounded-20 mb-lg-4 mb-3">
				<div class="card-body p-md-5 p-sm-4">
					<div class="row row-gap-4">
						<!-- <div class="col-12 sectionHeading"><h3 class="heading">Send us a message</h3></div> -->
						<div class="col-lg-8">
							<form class="card contactcard rounded-20">
								<div class="card-body p-md-5 p-sm-4">
									<div class="row row-gap-3">
										<div class="col-md-6">
											<label class="form-label" for="firstname">First Name</label>
											<div class="formGroup"><input type="text" id="firstname" placeholder="First Name"></div>
										</div>
										<div class="col-md-6">
											<label class="form-label" for="lastname">Last Name</label>
											<div class="formGroup"><input type="text" id="lastname" placeholder="Last Name"></div>
										</div>
										<div class="col-md-6">
											<label class="form-label" for="email">Email</label>
											<div class="formGroup"><input type="email" id="email" placeholder="Email Address"></div>
										</div>
										<div class="col-md-6">
											<label class="form-label" for="phone">Phone</label>
											<div class="formGroup"><input type="tel" id="phone" placeholder="Mobile Number"></div>
										</div>
										<div class="col-12">
											<div class="formGroup message">
											<label class="form-label" for="message">Message</label>
												<textarea name="message" class="text-area" id="message" placeholder="Enter your message" cols="30" rows="5" spellcheck="false"></textarea>
											</div>
										</div>
										<div class="col-12">
											<div class="row align-items-center row-gap-3">
												<div class="col">
													<div class="form-check m-0">
														<input type="checkbox" class="form-check-input" id="exampleCheck1">
														<label class="form-check-label form-label mb-0" for="exampleCheck1">I agree with Term of Use and Privacy Policy</label>
													</div>
												</div>
												<div class="submitbtn col-md-auto col-12"><button type="button" class="themebtn submit fill">Submit Now</button></div>
											</div>
										</div>
									</div>
								</div>
							</form>
						</div>
						<div class="col-lg-4">
							<div class="userside d-flex flex-column">
								<div class="userimg rounded-15 overflow-hidden"><img src="/web/assets/images/contact.jpg" class="w-100" height="100" width="100" alt="contact us"></div>
								<div class="helpdesk">
									<div class="card helpcard rounded-15">
										<div class="card-body p-md-4 p-3">
											<div class="contentside">
												<div class="titles fs-16 mb-1">Partnerships and Collaborations</div>
												<h6 class="m-0">example@gmail.com</h6>
											</div>
											<div class="arrowimg"><img src="/web/assets/images/icon/arrow-dark.svg" height="20" width="20" alt="arrow"></div>
										</div>
										<a href="javascript:;" class="stretched-link"></a>
									</div>
								</div>
							</div>
						</div>
						<!-- <div class="col-lg-4 ">
							<div class="wigits bglightgray p4">
								<div class="row row-gap-4">
									<div class="col-12">
										<div class="card wightscard quotecard">
											<div class="card-body p4">
												<div class="quteimg mb-3"><img src="/web/assets/images/icon/quote.svg" height="100" width="100" alt="quote"></div>
												<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio voluptatibus reiciendis ducimus odit accusantium minima sint quas ut praesentium soluta reprehenderit eos, optio voluptas corporis.</p>
												<ul class="trending-topic authors">
													<li class="px-0 pb-0 bg-transparent">
														<div class="topicimg rounded-circle"><img src="/web/assets/images/client1.jpg" height="100" width="100" alt="trending"></div>
														<div class="content fs-16">Truelock Alric <span>Author Job</span></div>
													</li>
												</ul>
											</div>
										</div>
									</div>
									<div class="col-12">
										<ul class="socialmedia dark justify-content-center">
											<li><a href="javascript:;"><img src="/web/assets/images/icon/instagram-white.svg" height="100" width="100" alt="insta"></a></li>
											<li><a href="javascript:;"><img src="/web/assets/images/icon/facebook.svg" height="100" width="100" alt="fb"></a></li>
											<li><a href="javascript:;"><img src="/web/assets/images/icon/social.svg" height="100" width="100" alt="social"></a></li>
											<li><a href="javascript:;"><img src="/web/assets/images/icon/twitter.svg" height="100" width="100" alt="twiter"></a></li>
										</ul>
									</div>
								</div>
							</div>
						</div> -->
					</div>
				</div>
			</div>

			<div class="row row-gap-3">
				<div class="col-lg-6">
					<div class="card contactcard rounded-20 h-100">
						<div class="card-body p-md-5 p-sm-4">
							<h5 class="mb-2">Become An Author</h5>
							<p class="mb-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores est pariatur recusandae facere quod rem laudantium laborum ex repellat ratione!</p>
							<a href="javascript:;" class="themebtn fill">Become An Author</a>
						</div>
					</div>
				</div>
				<div class="col-lg-6">
					<div class="card contactcard rounded-20 h-100">
						<div class="card-body p-md-5 p-sm-4">
							<h5 class="mb-2">Guest Post</h5>
							<p class="mb-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores est pariatur recusandae facere quod rem laudantium laborum ex repellat ratione!</p>
							<a href="javascript:;" class="themebtn fill">Contact Us</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--Contact Us	Section End-->

	<!--Footer Start-->
    <%- include('../partials/footer') %>
    <!--Footer End-->

    <!--Scripts Start-->
    <%- include('../partials/scripts') %>
</body>

</html>