<section class="authorslider rounded-40 pab-100">
    <div class="container-fluid bg-teritary patb100">
        <div class="container">
            <div class="authorcard">
                <div class="row">
                    <div class="col-12 sectionHeading">
                        <div class="row align-items-center row-gap-2">
                            <div class="col"><h3 class="heading"><span class="h5 m-0">Explore</span> latest audio articles</h3></div>
                            <div class="col-auto"><a href="javascript:;" class="themebtn">View All</a></div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="owl-carousel audioartical-slider navcenter themenav">
                            <div class="item">
                                <div class="card blogcard audiocard rounded-24 overflow-hidden border-0 h-100">
                                    <div class="card-img"><img src="/web/assets/images/audio1.jpg" height="100" width="100" alt="audio" class="w-100"></div>
                                    <div class="card-body p-3">
                                        <button class="toolbtn shadow-none border-0 rounded-pill">BRANDING</button>
                                        <a href="/web/assets/images/video.mp4" class="musicbtn rounded-circle glightbox"><img src="/web/assets/images/icon/strock-playbtn.svg" height="100" width="100" alt="playbtn"></a>
                                        <div class="d-flex flex-column gap-md-3 gap-2">
                                            <h6 class="m-0 bloglink eleps1">Microsoft announces</h6>
                                            <div class="userdetaisl d-flex align-items-center">
                                                <div class="clientimg"><img src="/web/assets/images/client4.jpg" height="100" width="100" alt="user"></div>
                                                <div class="username fs-14">Fones Mimi <span>May 20, 2021</span></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="card blogcard audiocard rounded-24 overflow-hidden border-0 h-100">
                                    <div class="card-img"><img src="/web/assets/images/audio3.jpg" height="100" width="100" alt="audio" class="w-100"></div>
                                    <div class="card-body p-3">
                                        <button class="toolbtn shadow-none border-0 rounded-pill">BRANDING</button>
                                        <a href="/web/assets/images/video.mp4" class="musicbtn rounded-circle glightbox"><img src="/web/assets/images/icon/strock-playbtn.svg" height="100" width="100" alt="playbtn"></a>
                                        <div class="d-flex flex-column gap-md-3 gap-2">
                                            <h6 class="m-0 bloglink eleps1">Easy Strategies to Help Your Family Succeed in 2020</h6>
                                            <div class="userdetaisl d-flex align-items-center">
                                                <div class="clientimg"><img src="/web/assets/images/client2.jpg" height="100" width="100" alt="user"></div>
                                                <div class="username fs-14">Birrell Chariot <span>May 20, 2021</span></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="card blogcard audiocard rounded-24 overflow-hidden border-0 h-100">
                                    <div class="card-img"><img src="/web/assets/images/audio2.jpg" height="100" width="100" alt="audio" class="w-100"></div>
                                    <div class="card-body p-3">
                                        <button class="toolbtn shadow-none border-0 rounded-pill">BRANDING</button>
                                        <a href="/web/assets/images/video.mp4" class="musicbtn rounded-circle glightbox"><img src="/web/assets/images/icon/strock-playbtn.svg" height="100" width="100" alt="playbtn"></a>
                                        <div class="d-flex flex-column gap-md-3 gap-2">
                                            <h6 class="m-0 bloglink eleps1">Even Deluded Demagogues Renounced Their Youthful Dreams</h6>
                                            <div class="userdetaisl d-flex align-items-center">
                                                <div class="clientimg"><img src="/web/assets/images/client2.jpg" height="100" width="100" alt="user"></div>
                                                <div class="username fs-14">Birrell Chariot <span>May 20, 2021</span></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="card blogcard audiocard rounded-24 overflow-hidden border-0 h-100">
                                    <div class="card-img"><img src="/web/assets/images/audio4.jpg" height="100" width="100" alt="audio" class="w-100"></div>
                                    <div class="card-body p-3">
                                        <button class="toolbtn shadow-none border-0 rounded-pill">BRANDING</button>
                                        <a href="/web/assets/images/video.mp4" class="musicbtn rounded-circle glightbox"><img src="/web/assets/images/icon/strock-playbtn.svg" height="100" width="100" alt="playbtn"></a>
                                        <div class="d-flex flex-column gap-md-3 gap-2">
                                            <h6 class="m-0 bloglink eleps1">Mind games: How play </h6>
                                            <div class="userdetaisl d-flex align-items-center">
                                                <div class="clientimg"><img src="/web/assets/images/client2.jpg" height="100" width="100" alt="user"></div>
                                                <div class="username fs-14">Birrell Chariot <span>May 20, 2021</span></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="card blogcard audiocard rounded-24 overflow-hidden border-0 h-100">
                                    <div class="card-img"><img src="/web/assets/images/audio5.jpg" height="100" width="100" alt="audio" class="w-100"></div>
                                    <div class="card-body p-3">
                                        <button class="toolbtn shadow-none border-0 rounded-pill">BRANDING</button>
                                        <a href="/web/assets/images/video.mp4" class="musicbtn rounded-circle glightbox"><img src="/web/assets/images/icon/strock-playbtn.svg" height="100" width="100" alt="playbtn"></a>
                                        <div class="d-flex flex-column gap-md-3 gap-2">
                                            <h6 class="m-0 bloglink eleps1">How architects visualize</h6>
                                            <div class="userdetaisl d-flex align-items-center">
                                                <div class="clientimg"><img src="/web/assets/images/client2.jpg" height="100" width="100" alt="user"></div>
                                                <div class="username fs-14">Birrell Chariot <span>May 20, 2021</span></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>