<section class="authorslider followsection authorsection rounded-40 pab-100">
    <div class="container">
        <div class="authorcard rounded40 bgteritary patb100">
            <div class="row ">
                <div class="col-12 mxauto">
                    <div class="owl-carousel innerbody authorslide navcenter">
                        <div class="item">
                            <div class="card bg-transparent"> 
                                <div class="card-body">
                                    <img src="/web/assets/images/brand1.svg" height="100" width="100" alt="brands">
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="card bg-transparent"> 
                                <div class="card-body">
                                    <img src="/web/assets/images/brand3.svg" height="100" width="100" alt="brands">
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="card bg-transparent"> 
                                <div class="card-body">
                                    <img src="/web/assets/images/brand4.svg" height="100" width="100" alt="brands">
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="card bg-transparent"> 
                                <div class="card-body">
                                    <img src="/web/assets/images/brand5.svg" height="100" width="100" alt="brands">
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="card bg-transparent"> 
                                <div class="card-body">
                                    <img src="/web/assets/images/brand1.svg" height="100" width="100" alt="brands">
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="card bg-transparent"> 
                                <div class="card-body">
                                    <img src="/web/assets/images/brand3.svg" height="100" width="100" alt="brands">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>