<section class="editorsection patb-100 ">
    <div class="container">
        <div class="ediotercard">
            <div class="row">
                <div class="col-12 sectionHeading">
                    <div class="row align-items-center row-gap-2">
                        <div class="col"><h3 class="heading"><span class="h5 m-0">Blogger's</span>Best Editor Picks</h3></div>
                        <div class="col-sm-auto">
                            <ul class="nav nav-pills rounded-pill flex-nowrap overflow-x-auto text-nowrap" id="pills-tab" role="tablist">
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link rounded-pill active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home" aria-selected="true">All Items</button>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link rounded-pill" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile" aria-selected="false">Garden</button>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link rounded-pill" id="pills-disabled-tab" data-bs-toggle="pill" data-bs-target="#pills-disabled" type="button" role="tab" aria-controls="pills-disabled" aria-selected="false">Design</button>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="row row-gap-4">
                        <div class="col-12">
                            <!-- <div class="tab-content" id="pills-tabContent">
                                <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab" tabindex="0">...</div>
                                <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab" tabindex="0">...</div>
                                <div class="tab-pane fade" id="pills-disabled" role="tabpanel" aria-labelledby="pills-disabled-tab" tabindex="0">...</div>
                            </div> -->
                            <div class="row row-gap-4">
                                <div class="col-lg-6">
                                    <div class="card blogcard varticalblog rounded-20 border-0 h-100">
                                        <div class="row row-gap-3">
                                            <div class="col-sm-8 order-sm-1 order-2">
                                                <div class="card-body p-0 h-100">
                                                    <div class="userdetaisl d-flex align-items-center">
                                                        <div class="clientimg"><img src="/web/assets/images/client4.jpg" height="100" width="100" alt="user"></div>
                                                        <div class="username fs-14">Falconar Agnes <span>May 20, 2021</span></div>
                                                    </div>
                                                    <a href="javascript:;" class="h6 bloglink eleps2 m-0 titles">Lenovo’s smarter devices stoke professional passions </a>
                                                    <p class="fw-normal discribtion eleps2 m-0">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quasi, voluptates.</p>
                                                </div>
                                            </div>
                                            <div class="col-sm-4 order-sm-2 order-1">
                                                <div class="card-img overflow-hidden h-100">
                                                    <img src="/web/assets/images/blogcard.jpg" height="100" width="100" alt="blogimg" class="w-100 h-100">
                                                    <a href="/web/assets/images/video.mp4" class="videobtn rounded-circle glightbox"><img src="/web/assets/images/icon/strock-playbtn.svg" height="100" width="100" alt="playbtn"></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="card blogcard varticalblog rounded-20 border-0 h-100">
                                        <div class="row row-gap-3">
                                            <div class="col-sm-8 order-sm-1 order-2">
                                                <div class="card-body p-0 h-100">
                                                    <div class="userdetaisl d-flex align-items-center">
                                                        <div class="clientimg"><img src="/web/assets/images/client4.jpg" height="100" width="100" alt="user"></div>
                                                        <div class="username fs-14">Falconar Agnes <span>May 20, 2021</span></div>
                                                    </div>
                                                    <a href="javascript:;" class="h6 bloglink eleps2 m-0 titles">Lenovo’s smarter devices stoke professional passions </a>
                                                    <p class="fw-normal discribtion eleps2 m-0">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quasi, voluptates.</p>
                                                </div>
                                            </div>
                                            <div class="col-sm-4 order-sm-2 order-1">
                                                <div class="card-img overflow-hidden h-100">
                                                    <img src="/web/assets/images/blogcard1.jpg" height="100" width="100" alt="blogimg" class="w-100 h-100">
                                                    <a href="/web/assets/images/video.mp4" class="videobtn rounded-circle glightbox"><img src="/web/assets/images/icon/strock-playbtn.svg" height="100" width="100" alt="playbtn"></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="card blogcard varticalblog rounded-20 border-0 h-100">
                                        <div class="row row-gap-3">
                                            <div class="col-sm-8 order-sm-1 order-2">
                                                <div class="card-body p-0 h-100">
                                                    <div class="userdetaisl d-flex align-items-center">
                                                        <div class="clientimg"><img src="/web/assets/images/client5.jpg" height="100" width="100" alt="user"></div>
                                                        <div class="username fs-14">Tousy Vita <span>May 20, 2021</span></div>
                                                    </div>
                                                    <a href="javascript:;" class="h6 bloglink eleps2 m-0 titles">Lenovo’s smarter devices stoke professional passions </a>
                                                    <p class="fw-normal discribtion eleps2 m-0">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quasi, voluptates.</p>
                                                </div>
                                            </div>
                                            <div class="col-sm-4 order-sm-2 order-1">
                                                <div class="card-img overflow-hidden h-100">
                                                    <img src="/web/assets/images/blogcard2.jpg" height="100" width="100" alt="blogimg" class="w-100 h-100">
                                                    <a href="/web/assets/images/video.mp4" class="videobtn rounded-circle glightbox"><img src="/web/assets/images/icon/strock-playbtn.svg" height="100" width="100" alt="playbtn"></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="card blogcard varticalblog rounded-20 border-0 h-100">
                                        <div class="row row-gap-3">
                                            <div class="col-sm-8 order-sm-1 order-2">
                                                <div class="card-body p-0 h-100">
                                                    <div class="userdetaisl d-flex align-items-center">
                                                        <div class="clientimg"><img src="/web/assets/images/client5.jpg" height="100" width="100" alt="user"></div>
                                                        <div class="username fs-14">Tousy Vita <span>May 20, 2021</span></div>
                                                    </div>
                                                    <a href="javascript:;" class="h6 bloglink eleps2 m-0 titles">Lenovo’s smarter devices stoke professional passions </a>
                                                    <p class="fw-normal discribtion eleps2 m-0">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quasi, voluptates.</p>
                                                </div>
                                            </div>
                                            <div class="col-sm-4 order-sm-2 order-1">
                                                <div class="card-img overflow-hidden h-100">
                                                    <img src="/web/assets/images/blogcard4.jpg" height="100" width="100" alt="blogimg" class="w-100 h-100">
                                                    <a href="/web/assets/images/video.mp4" class="videobtn rounded-circle glightbox"><img src="/web/assets/images/icon/strock-playbtn.svg" height="100" width="100" alt="playbtn"></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>