<footer class="footersection">
    <div class="container patb-50">
        <div class="row row-gap-4">
            <div class="col-lg-4 col-12">
                <div class="footer-widget">
                    <div class="footer-about pe-lg-5">
                        <div class="logo-holder mb-4">
                            <a href="index.html" class="logo" aria-label="Site Logo"><img src="/web/assets/images/logo.svg" height="40" width="100" alt="logo" class="w-auto"></a>
                        </div>
                        <p class="mt-4">Expert insights, industry trends, and inspiring stories that help you live and work on your own terms. Expert insights, industry trends.</p>
                        <h6 class="opacity-100 mb-3">Follow Us</h6>
                        <div class="axil-social social-layout-1 size-small gap-12">
                            <ul class="socialmedia dark border-0">
                                <li><a href="javascript:;"><img src="/web/assets/images/icon/instagram-white.svg" height="100" width="100" alt="insta"></a></li>
                                <li><a href="javascript:;"><img src="/web/assets/images/icon/facebook.svg" height="100" width="100" alt="fb"></a></li>
                                <li><a href="javascript:;"><img src="/web/assets/images/icon/social.svg" height="100" width="100" alt="social"></a></li>
                                <li><a href="javascript:;"><img src="/web/assets/images/icon/twitter.svg" height="100" width="100" alt="twiter"></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-3 col-6">
                <div class="footer-widget">
                    <h6 class="aboutlink">About</h6>
                    <div class="footer-menu">
                        <ul>
                            <li><a href="about-us.html">About</a></li>
                            <li><a href="blog.html">Blog</a></li>
                            <li><a href="contact-us.html">Support</a></li>
                            <li><a href="contact-us.html">Contact Us</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-3 col-6">
                <div class="footer-widget">
                    <h6 class="aboutlink">Features</h6>
                    <div class="footer-menu">
                        <ul>
                            <li><a href="javascript:;">Technology</a></li>
                            <li><a href="javascript:;">Politics</a></li>
                            <li><a href="javascript:;l">Middle East</a></li>
                            <li><a href="javascript:;">Culture Foram</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-3 col-6">
                <div class="footer-widget">
                    <h6 class="aboutlink">Categories</h6>
                    <div class="footer-menu">
                        <ul>
                            <li><a href="javascript:;">Business Leaders</a></li>
                            <li><a href="javascript:;">Markets</a></li>
                            <li><a href="javascript:;l">Australia</a></li>
                            <li><a href="javascript:;">Celebrity News</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-3 col-6">
                <div class="footer-widget">
                    <h6 class="aboutlink">Support</h6>
                    <div class="footer-menu">
                        <ul>
                            <li><a href="javascript:;">Contact</a></li>
                            <li><a href="javascript:;">Music News</a></li>
                            <li><a href="javascript:;">Style News</a></li>
                            <li><a href="javascript:;l">Entertainment</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright text-center">
        <div class="copyright-text">© <span class="copyrightyear"></span>2024</div>. All rights reserved by <a href="javascript:;" target="_blank">Blog-Theme.</a>
    </div>
</footer>