<section class="herosection patb-100 d-flex align-items-center">
    <div class="container my-5 py-lg-0 py-md-5">
        <div class="innerfluid">
            <div class="row row-gap-4">
                <div class="col-xl7 col-lg-8">
                    <div class="row flex-column justify-content-center h-100">
                        <div class="col-12">
                            <div class="multipalblog"><span>Multipal Blogs</span></div>
                            <div class="mainheading text-lg-start text-center">
                                <h1 class="main">Hey, We’re Blogxpress <span>See Our</span> Thoughts,</h1>
                                <p class="fs-20">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                            </div>
                        </div>
                        <div class="col-xl-8 col-sm-10 mx-lg-0 mx-auto">
                            <form >
                                <div class="input-group searchgroup rounded-pill p-1">
                                    <input type="text" class="form-control shadow-none border-0 rounded-pill" placeholder="Search">
                                    <!-- <button class="searchBtn shadow-none border-0 rounded-pill"><img src="/web/assets/images/icon/search.svg" height="100" width="100" alt="search"></button> -->
                                    <button class="searchBtn themebtn shadow-none rounded-pill">Subscribe</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 ms-auto">
                    <div class="usercards owl-carousel blogcard ">
                        <div class="card-items">
                            <div class="user-img"><img src="/web/assets/images/hero-slider1.jpg" height="100" width="100" alt=""></div>
                            <div class="username fs-18">Falconar Agnes <span class="fs-14">May 20, 2021</span></div>
                            <button class="toolbtn shadow-none border-0 rounded-pill">workout</button>
                        </div>
                        <div class="card-items">
                            <div class="user-img"><img src="/web/assets/images/hero-slider2.jpg" height="100" width="100" alt=""></div>
                            <div class="username fs-18">Falconar Agnes <span class="fs-14">May 20, 2021</span></div>
                            <button class="toolbtn shadow-none border-0 rounded-pill">warmup</button>
                        </div>
                        <div class="card-items">
                            <div class="user-img"><img src="/web/assets/images/hero-slider3.jpg" height="100" width="100" alt=""></div>
                            <div class="username fs-18">Falconar Agnes <span class="fs-14">May 20, 2021</span></div>
                            <button class="toolbtn shadow-none border-0 rounded-pill">Modeling</button>
                        </div>
                        <div class="card-items">
                            <div class="user-img"><img src="/web/assets/images/hero-slider4.jpg" height="100" width="100" alt=""></div>
                            <div class="username fs-18">Falconar Agnes <span class="fs-14">May 20, 2021</span></div>
                            <button class="toolbtn shadow-none border-0 rounded-pill">fashion</button>
                        </div>
                        <div class="card-items">
                            <div class="user-img"><img src="/web/assets/images/hero-slider5.jpg" height="100" width="100" alt=""></div>
                            <div class="username fs-18">Falconar Agnes <span class="fs-14">May 20, 2021</span></div>
                            <button class="toolbtn shadow-none border-0 rounded-pill">play</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- <div class="rounderimg"><img src="/web/assets/images/rounder.svg" height="100" width="100" alt="animation"></div> -->
        </div>
    </div>
</section>