<section class="followsection pab-100">
    <div class="container">
        <div class="row">
            <div class="col-12 sectionHeading">
                <div class="row align-items-center row-gap-2">
                    <div class="col"><h3 class="heading"><span class="h5 m-0">Follow Me </span>On Instagram</h3></div>
                    <div class="col-auto"><a href="javascript:;" class="themebtn">View All</a></div>
                </div>
            </div>
            <div class="col-12 innerbody">
                <div class="row row-gap-4">
                    <div class="col">
                        <div class="card"> 
                            <div class="card-body">
                                <div class="followimg"><img src="/web/assets/images/follow1.jpg" height="100" width="100" alt="follow user"></div>
                                <a href="javascript:;" class="followbtn fill themebtn">Follow Me <span><img src="/web/assets/images/icon/instagram.svg" height="100" width="100" alt="instagram"></span></a>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card"> 
                            <div class="card-body">
                                <div class="followimg"><img src="/web/assets/images/follow2.jpg" height="100" width="100" alt="follow user"></div>
                                <a href="javascript:;" class="followbtn fill themebtn">Follow Me <span><img src="/web/assets/images/icon/instagram.svg" height="100" width="100" alt="instagram"></span></a>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card"> 
                            <div class="card-body">
                                <div class="followimg"><img src="/web/assets/images/follow3.jpg" height="100" width="100" alt="follow user"></div>
                                <a href="javascript:;" class="followbtn fill themebtn">Follow Me <span><img src="/web/assets/images/icon/instagram.svg" height="100" width="100" alt="instagram"></span></a>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card"> 
                            <div class="card-body">
                                <div class="followimg"><img src="/web/assets/images/follow4.jpg" height="100" width="100" alt="follow user"></div>
                                <a href="javascript:;" class="followbtn fill themebtn">Follow Me <span><img src="/web/assets/images/icon/instagram.svg" height="100" width="100" alt="instagram"></span></a>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card"> 
                            <div class="card-body">
                                <div class="followimg"><img src="/web/assets/images/recentartical3.jpg" height="100" width="100" alt="follow user"></div>
                                <a href="javascript:;" class="followbtn fill themebtn">Follow Me <span><img src="/web/assets/images/icon/instagram.svg" height="100" width="100" alt="instagram"></span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>