<section class="latestblog-section patb100 bg-teritary">
    <div class="container">
        <div class="row g-0 wigits">
            <div class="col-12 sectionHeading">
                <div class="row align-items-center row-gap-2">
                    <div class="col"><h3 class="heading"><span class="h5 m-0">Latest</span>Blogs News</h3></div>
                    <div class="col-sm-auto">
                        <ul class="nav nav-pills rounded-pill flex-nowrap overflow-x-auto text-nowrap" id="pills-tab-news" role="tablist">
                            <li class="nav-item" role="presentation">
                                <button class="nav-link rounded-pill active" id="pills-latesthome-tab" data-bs-toggle="pill" data-bs-target="#pills-latesthome" type="button" role="tab" aria-controls="pills-latesthome" aria-selected="true">All News</button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link rounded-pill" id="pills-latestprofile-tab" data-bs-toggle="pill" data-bs-target="#pills-latestprofile" type="button" role="tab" aria-controls="pills-latestprofile" aria-selected="false">Technology</button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link rounded-pill" id="pills-latestcontact-tab" data-bs-toggle="pill" data-bs-target="#pills-latestcontact" type="button" role="tab" aria-controls="pills-latestcontact" aria-selected="false">Fitness</button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="tab-content" id="pills-tab-newsContent">
                    <div class="tab-pane fade show active" id="pills-latesthome" role="tabpanel" aria-labelledby="pills-latesthome-tab" tabindex="0">
                        <div class="row g-3">
                            <div class="col-lg-6">
                                <div class="card wightscard blogcard">
                                    <div class="card-body p-0">
                                        <ul class="trending-topic popularpost first">
                                            <li class="align-items-center">
                                                <div class="postimg"><img src="/web/assets/images/tc-blog.jpg" height="100" width="100" alt="post"></div>
                                                <div class="leftside">
                                                    <a href="javascript:;" class="h6 eleps1 discriptions stretched-link">ChatGPT: Can You Use ChatGPT To Write Your Website Content?</a>
                                                    <div class="userdetaisl d-flex align-items-center">
                                                        <div class="clientimg"><img src="/web/assets/images/client5.jpg" height="100" width="100" alt="user"></div>
                                                        <div class="username fs-14">Tousy Vita<span>May 20, 2021</span></div>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="align-items-center">
                                                <div class="postimg"><img src="/web/assets/images/tc-blog1.jpg" height="100" width="100" alt="post"></div>
                                                <div class="leftside">
                                                    <a href="javascript:;" class="h6 eleps1 discriptions stretched-link">Embracing Tech: Elevating Every day Experiences </a>
                                                    <div class="userdetaisl d-flex align-items-center">
                                                        <div class="clientimg"><img src="/web/assets/images/client1.jpg" height="100" width="100" alt="user"></div>
                                                        <div class="username fs-14">Truelock Alric <span>May 20, 2021</span></div>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="align-items-center">
                                                <div class="postimg"><img src="/web/assets/images/tc-blog4.jpg" height="100" width="100" alt="post"></div>
                                                <div class="leftside">
                                                    <a href="javascript:;" class="h6 eleps1 discriptions stretched-link">Tech Marvels: Elevate Your Everyday to</a>
                                                    <div class="userdetaisl d-flex align-items-center">
                                                        <div class="clientimg"><img src="/web/assets/images/client4.jpg" height="100" width="100" alt="user"></div>
                                                        <div class="username fs-14">Falconar Agnes <span>May 20, 2021</span></div>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="card wightscard blogcard">
                                    <div class="card-body p-0">
                                        <ul class="trending-topic popularpost">
                                            <li class="align-items-center">
                                                <div class="postimg"><img src="/web/assets/images/tc-blog2.jpg" height="100" width="100" alt="post"></div>
                                                <div class="leftside">
                                                    <a href="javascript:;" class="h6 eleps1 discriptions stretched-link">Humanoid robot working with a machine in a factory Ai generative</a>
                                                    <div class="userdetaisl d-flex align-items-center">
                                                        <div class="clientimg"><img src="/web/assets/images/client2.jpg" height="100" width="100" alt="user"></div>
                                                        <div class="username fs-14">Birrell Chariot <span>May 20, 2021</span></div>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="align-items-center">
                                                <div class="postimg"><img src="/web/assets/images/tc-blog3.jpg" height="100" width="100" alt="post"></div>
                                                <div class="leftside">
                                                    <a href="javascript:;" class="h6 eleps1 discriptions stretched-link">AI machine learning enabling</a>
                                                    <div class="userdetaisl d-flex align-items-center">
                                                        <div class="clientimg"><img src="/web/assets/images/client3.jpg" height="100" width="100" alt="user"></div>
                                                        <div class="username fs-14">Foulcher Nathanil  <span>May 20, 2021</span></div>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="align-items-center">
                                                <div class="postimg"><img src="/web/assets/images/tc-blog5.jpg" height="100" width="100" alt="post"></div>
                                                <div class="leftside">
                                                    <a href="javascript:;" class="h6 eleps1 discriptions stretched-link">Robots on Mars: Exploring the Technological</a>
                                                    <div class="userdetaisl d-flex align-items-center">
                                                        <div class="clientimg"><img src="/web/assets/images/client4.jpg" height="100" width="100" alt="user"></div>
                                                        <div class="username fs-14">Falconar Agnes <span>May 20, 2021</span></div>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="pills-latestprofile" role="tabpanel" aria-labelledby="pills-latestprofile-tab" tabindex="0">
                        <div class="row g-3">
                            <div class="col-lg-6">
                                <div class="card wightscard blogcard">
                                    <div class="card-body p-0">
                                        <ul class="trending-topic popularpost first">
                                            <li class="align-items-center">
                                                <div class="postimg"><img src="/web/assets/images/el-blog.jpg" height="100" width="100" alt="post"></div>
                                                <div class="leftside">
                                                    <a href="javascript:;" class="h6 eleps1 discriptions stretched-link">ELECTRIC Learn How AI Can Contribute To HR Processes</a>
                                                    <div class="userdetaisl d-flex align-items-center">
                                                        <div class="clientimg"><img src="/web/assets/images/client5.jpg" height="100" width="100" alt="user"></div>
                                                        <div class="username fs-14">Tousy Vita<span>May 20, 2021</span></div>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="align-items-center">
                                                <div class="postimg"><img src="/web/assets/images/el-blog1.jpg" height="100" width="100" alt="post"></div>
                                                <div class="leftside">
                                                    <a href="javascript:;" class="h6 eleps1 discriptions stretched-link">Electrify your world, embrace Sustainable energy. </a>
                                                    <div class="userdetaisl d-flex align-items-center">
                                                        <div class="clientimg"><img src="/web/assets/images/client1.jpg" height="100" width="100" alt="user"></div>
                                                        <div class="username fs-14">Truelock Alric <span>May 20, 2021</span></div>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="align-items-center">
                                                <div class="postimg"><img src="/web/assets/images/el-blog4.jpg" height="100" width="100" alt="post"></div>
                                                <div class="leftside">
                                                    <a href="javascript:;" class="h6 eleps1 discriptions stretched-link">Electrifying the Future: Trends and Innovations</a>
                                                    <div class="userdetaisl d-flex align-items-center">
                                                        <div class="clientimg"><img src="/web/assets/images/client4.jpg" height="100" width="100" alt="user"></div>
                                                        <div class="username fs-14">Falconar Agnes <span>May 20, 2021</span></div>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="card wightscard blogcard">
                                    <div class="card-body p-0">
                                        <ul class="trending-topic popularpost">
                                            <li class="align-items-center">
                                                <div class="postimg"><img src="/web/assets/images/el-blog2.jpg" height="100" width="100" alt="post"></div>
                                                <div class="leftside">
                                                    <a href="javascript:;" class="h6 eleps1 discriptions stretched-link">The technical education and women is</a>
                                                    <div class="userdetaisl d-flex align-items-center">
                                                        <div class="clientimg"><img src="/web/assets/images/client2.jpg" height="100" width="100" alt="user"></div>
                                                        <div class="username fs-14">Birrell Chariot <span>May 20, 2021</span></div>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="align-items-center">
                                                <div class="postimg"><img src="/web/assets/images/el-blog3.jpg" height="100" width="100" alt="post"></div>
                                                <div class="leftside">
                                                    <a href="javascript:;" class="h6 eleps1 discriptions stretched-link">Computer algorithm computer code concept</a>
                                                    <div class="userdetaisl d-flex align-items-center">
                                                        <div class="clientimg"><img src="/web/assets/images/client3.jpg" height="100" width="100" alt="user"></div>
                                                        <div class="username fs-14">Foulcher Nathanil  <span>May 20, 2021</span></div>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="pills-latestcontact" role="tabpanel" aria-labelledby="pills-latestcontact-tab" tabindex="0">
                        <div class="row g-3">
                            <div class="col-lg-6">
                                <div class="card wightscard blogcard">
                                    <div class="card-body p-0">
                                        <ul class="trending-topic popularpost first">
                                            <li class="align-items-center">
                                                <div class="postimg"><img src="/web/assets/images/ft-blog.jpg" height="100" width="100" alt="post"></div>
                                                <div class="leftside">
                                                    <a href="javascript:;" class="h6 eleps1 discriptions stretched-link">Male Bodybuilding Workout</a>
                                                    <div class="userdetaisl d-flex align-items-center">
                                                        <div class="clientimg"><img src="/web/assets/images/client5.jpg" height="100" width="100" alt="user"></div>
                                                        <div class="username fs-14">Tousy Vita<span>May 20, 2021</span></div>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="align-items-center">
                                                <div class="postimg"><img src="/web/assets/images/ft-blog1.jpg" height="100" width="100" alt="post"></div>
                                                <div class="leftside">
                                                    <a href="javascript:;" class="h6 eleps1 discriptions stretched-link">Active Fat Burning </a>
                                                    <div class="userdetaisl d-flex align-items-center">
                                                        <div class="clientimg"><img src="/web/assets/images/client1.jpg" height="100" width="100" alt="user"></div>
                                                        <div class="username fs-14">Truelock Alric <span>May 20, 2021</span></div>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="align-items-center">
                                                <div class="postimg"><img src="/web/assets/images/ft-blog2.jpg" height="100" width="100" alt="post"></div>
                                                <div class="leftside">
                                                    <a href="javascript:;" class="h6 eleps1 discriptions stretched-link">Runners' Odyssey</a>
                                                    <div class="userdetaisl d-flex align-items-center">
                                                        <div class="clientimg"><img src="/web/assets/images/client4.jpg" height="100" width="100" alt="user"></div>
                                                        <div class="username fs-14">Falconar Agnes <span>May 20, 2021</span></div>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="card wightscard blogcard">
                                    <div class="card-body p-0">
                                        <ul class="trending-topic popularpost">
                                            <li class="align-items-center">
                                                <div class="postimg"><img src="/web/assets/images/ft-blog3.jpeg" height="100" width="100" alt="post"></div>
                                                <div class="leftside">
                                                    <a href="javascript:;" class="h6 eleps1 discriptions stretched-link">Our New Training Programs</a>
                                                    <div class="userdetaisl d-flex align-items-center">
                                                        <div class="clientimg"><img src="/web/assets/images/client2.jpg" height="100" width="100" alt="user"></div>
                                                        <div class="username fs-14">Birrell Chariot <span>May 20, 2021</span></div>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="align-items-center">
                                                <div class="postimg"><img src="/web/assets/images/ft-blog4.jpg" height="100" width="100" alt="post"></div>
                                                <div class="leftside">
                                                    <a href="javascript:;" class="h6 eleps1 discriptions stretched-link">Empower Your Potential – Defining Success in Men’s Fitness</a>
                                                    <div class="userdetaisl d-flex align-items-center">
                                                        <div class="clientimg"><img src="/web/assets/images/client3.jpg" height="100" width="100" alt="user"></div>
                                                        <div class="username fs-14">Foulcher Nathanil  <span>May 20, 2021</span></div>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="align-items-center">
                                                <div class="postimg"><img src="/web/assets/images/ft-blog5.jpg" height="100" width="100" alt="post"></div>
                                                <div class="leftside">
                                                    <a href="javascript:;" class="h6 eleps1 discriptions stretched-link">Yoga Amaizing Assans.c5 Rules And 10 Tips</a>
                                                    <div class="userdetaisl d-flex align-items-center">
                                                        <div class="clientimg"><img src="/web/assets/images/client3.jpg" height="100" width="100" alt="user"></div>
                                                        <div class="username fs-14">Foulcher Nathanil  <span>May 20, 2021</span></div>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="text-center mt-lg-5 mt-4"><a href="javascript:;" class="themebtn">View All</a></div>
            </div>
        </div>
    </div>
</section>