<section class="liveproduct bglightgray pab-100">
    <div class="container">
        <div class="row">
            <div class="col-12 sectionHeading">
                <div class="row align-items-center row-gap-2">
                    <div class="col"><h3 class="heading"><span class="h5 m-0">Listen to</span> podcasts live</h3></div>
                    <div class="col-auto"><a href="javascript:;" class="themebtn">View All</a></div>
                </div>
            </div>
            <div class="col-12">
                <div class="row row-gap-5">
                    <div class="col-lg8 col-12">
                        <div class="row h-100 row-gap-4">
                            <div class="col-lg-4 col-md-6">
                                <div class="card blogcard rounded-20 overflow-hidden border-0 h-100 socialblog">
                                    <div class="card-img"><img src="/web/assets/images/fashion.jpg" height="100" width="100" class="w-100 h-100" height="100" width="100" alt="blog"></div>
                                    <div class="card-body pt-sm-4 pt-3 p-0">
                                        <div class="userdetaisl d-flex align-items-center">
                                            <div class="clientimg"><img src="/web/assets/images/client2.jpg" height="100" width="100" alt="user"></div>
                                            <div class="username fs-14">Falconar Agnes <span>May 20, 2021</span></div>
                                        </div>
                                        <a href="javascript:;" class="m0 h6 bloglink titles">Trendy girl in casual summer overalls clothes and hat. </a>
                                        <div class="buttongroup d-flex align-items-center gap-2">
                                            <button class="shadow-none border-0 rounded-pill blogbtn like"><img src="/web/assets/images/icon/like.svg" height="100" width="100" alt="Like"> 34</button>
                                            <button class="shadow-none border-0 rounded-pill blogbtn comment"><img src="/web/assets/images/icon/comment.svg" height="100" width="100" alt="comment"> 110</button>
                                            <button class="shadow-none border-0 rounded-circle blogbtn bookmark p-0 ms-auto"><img src="/web/assets/images/icon/bookmark.svg" height="100" width="100" alt="bookmark"></button>
                                        </div>
                                    </div>
                                    <button class="toolbtn shadow-none border-0 rounded-pill dangerbtn">Tools</button>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6">
                                <div class="card blogcard rounded-20 overflow-hidden border-0 h-100 socialblog">
                                    <div class="card-img"><img src="/web/assets/images/gym.jpg" height="100" width="100" height="100" width="100" alt="blog" class="w-100 h-100"></div>
                                    <div class="card-body pt-sm-4 pt-3 p-0">
                                        <div class="userdetaisl d-flex align-items-center">
                                            <div class="clientimg"><img src="/web/assets/images/client3.jpg" height="100" width="100" alt="user"></div>
                                            <div class="username fs-14">Falconar Agnes <span>May 20, 2021</span></div>
                                        </div>
                                        <a href="javascript:;" class="m0 h6 bloglink titles">Group of young people training at the gym indoors Maintaining sportive lifestyle </a>
                                        <div class="buttongroup d-flex align-items-center gap-2">
                                            <button class="shadow-none border-0 rounded-pill blogbtn like"><img src="/web/assets/images/icon/like.svg" height="100" width="100" alt="Like"> 34</button>
                                            <button class="shadow-none border-0 rounded-pill blogbtn comment"><img src="/web/assets/images/icon/comment.svg" height="100" width="100" alt="comment"> 110</button>
                                            <button class="shadow-none border-0 rounded-circle blogbtn bookmark p-0 ms-auto"><img src="/web/assets/images/icon/bookmark.svg" height="100" width="100" alt="bookmark"></button>
                                        </div>
                                    </div>
                                    <button class="toolbtn shadow-none border-0 rounded-pill dangerbtn">Tools</button>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6">
                                <div class="card blogcard rounded-20 overflow-hidden border-0 h-100 socialblog">
                                    <div class="card-img"><img src="/web/assets/images/public-news.jpg" height="100" width="100" class="w-100 h-100" height="100" width="100" alt="blog"></div>
                                    <div class="card-body pt-sm-4 pt-3 p-0">
                                        <div class="userdetaisl d-flex align-items-center">
                                            <div class="clientimg"><img src="/web/assets/images/client4.jpg" height="100" width="100" alt="user"></div>
                                            <div class="username fs-14">Falconar Agnes <span>May 20, 2021</span></div>
                                        </div>
                                        <a href="javascript:;" class="m0 h6 bloglink titles">The person interviewing the public in Australia </a>
                                        <div class="buttongroup d-flex align-items-center gap-2">
                                            <button class="shadow-none border-0 rounded-pill blogbtn like"><img src="/web/assets/images/icon/like.svg" height="100" width="100" alt="Like"> 34</button>
                                            <button class="shadow-none border-0 rounded-pill blogbtn comment"><img src="/web/assets/images/icon/comment.svg" height="100" width="100" alt="comment"> 110</button>
                                            <button class="shadow-none border-0 rounded-circle blogbtn bookmark p-0 ms-auto"><img src="/web/assets/images/icon/bookmark.svg" height="100" width="100" alt="bookmark"></button>
                                        </div>
                                    </div>
                                    <button class="toolbtn shadow-none border-0 rounded-pill dangerbtn">Tools</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>