<section class="recentarticle pab-100">
    <div class="container">
        <div class="row">
            <div class="col-12 sectionHeading">
                <div class="row align-items-center row-gap-2">
                    <div class="col"><h3 class="heading"><span class="h5 m-0">Recent </span>Latest Articles</h3></div>
                    <div class="col-auto"><a href="javascript:;" class="themebtn">View All</a></div>
                </div>
            </div>
            <div class="col-12">
                <div class="row row-gap-4">
                    <div class="col-lg-8">
                        <div class="row row-gap-4">
                            <div class="col-md-6 col-12">
                                <div class="card recentarticle-card blogcard h-100">
                                    <div class="card-body">
                                        <div class="row align-items-center row-gap-4">
                                            <div class="col-12">
                                                <div class="articalimg overflow-hidden h-100"><img src="/web/assets/images/recentartical1.jpg" height="100" width="100" alt="artical"></div>
                                            </div>
                                            <div class="col-12">
                                                <div class="innerbody d-flex flex-column h-100 row-gap3">
                                                    <button class="toolbtn rounded-pill">technology</button>
                                                    <a href="blog-details.html" class="h6 eleps2 stretched-link titles">Reality Hosting, The Use Computer Modeling</a>
                                                    <p class="eleps2 discribtion">Nam eget lorem mattis, consequat felis quis, luctus augue. Aenean ac iaculis enim.</p>
                                                    <div class="userdetaisl d-flex align-items-center">
                                                        <div class="clientimg"><img src="/web/assets/images/client3.jpg" height="100" width="100" alt="user"></div>
                                                        <div class="username"><a href="javascript:;">Ashley Graham</a> <span> <img src="/web/assets/images/icon/watch.svg" height="100" width="100" alt="time"> 5 min</span> <span><img src="/web/assets/images/icon/View.svg" height="100" width="100" alt="view">9k</span></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-12">
                                <div class="card recentarticle-card blogcard h-100">
                                    <div class="card-body">
                                        <div class="row align-items-center row-gap-4">
                                            <div class="col-12">
                                                <div class="articalimg overflow-hidden h-100"><img src="/web/assets/images/recentartical2.jpg" height="100" width="100" alt="artical"></div>
                                            </div>
                                            <div class="col-12">
                                                <div class="innerbody d-flex flex-column h-100 row-gap3">
                                                    <button class="toolbtn rounded-pill">Damaged </button>
                                                    <a href="blog-details.html" class="h6 eleps2 stretched-link titles">Shattered Lives: The Toll of Russian War on Ukrainian Homes</a>
                                                    <p class="eleps2 discribtion">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Libero, molestiae?</p>
                                                    <div class="userdetaisl d-flex align-items-center">
                                                        <div class="clientimg"><img src="/web/assets/images/client1.jpg" height="100" width="100" alt="user"></div>
                                                        <div class="username"><a href="javascript:;">Sergio Pliego</a> <span> <img src="/web/assets/images/icon/watch.svg" height="100" width="100" alt="time"> 3 min</span> <span><img src="/web/assets/images/icon/View.svg" height="100" width="100" alt="view">9k</span></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-12">
                                <div class="card recentarticle-card blogcard h-100">
                                    <div class="card-body">
                                        <div class="row align-items-center row-gap-4">
                                            <div class="col-12">
                                                <div class="articalimg overflow-hidden h-100"><img src="/web/assets/images/recentartical3.jpg" height="100" width="100" alt="artical"></div>
                                            </div>
                                            <div class="col-12">
                                                <div class="innerbody d-flex flex-column h-100 row-gap3">
                                                    <button class="toolbtn rounded-pill">running</button>
                                                    <a href="blog-details.html" class="h6 eleps2 stretched-link titles">Empower Your Potential – Defining Success in Men’s Fitness</a>
                                                    <p class="eleps2 discribtion">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia, hic.</p>
                                                    <div class="userdetaisl d-flex align-items-center">
                                                        <div class="clientimg"><img src="/web/assets/images/client5.jpg" height="100" width="100" alt="user"></div>
                                                        <div class="username"><a href="javascript:;">Kristin Watson</a> <span> <img src="/web/assets/images/icon/watch.svg" height="100" width="100" alt="time"> 5 min</span> <span><img src="/web/assets/images/icon/View.svg" height="100" width="100" alt="view">9k</span></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-12">
                                <div class="card recentarticle-card blogcard h-100">
                                    <div class="card-body">
                                        <div class="row align-items-center row-gap-4">
                                            <div class="col-12">
                                                <div class="articalimg overflow-hidden h-100"><img src="/web/assets/images/recentartical4.jpg" height="100" width="100" alt="artical"></div>
                                            </div>
                                            <div class="col-12">
                                                <div class="innerbody d-flex flex-column h-100 row-gap3">
                                                    <button class="toolbtn rounded-pill">history</button>
                                                    <a href="blog-details.html" class="h6 eleps2 stretched-link titles">Electrify your world, embrace Sustainable energy. </a>
                                                    <p class="eleps2 discribtion">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia, hic.</p>
                                                    <div class="userdetaisl d-flex align-items-center">
                                                        <div class="clientimg"><img src="/web/assets/images/client4.jpg" height="100" width="100" alt="user"></div>
                                                        <div class="username"><a href="javascript:;">Jenny Wilson</a> <span> <img src="/web/assets/images/icon/watch.svg" height="100" width="100" alt="time"> 9 min</span> <span><img src="/web/assets/images/icon/View.svg" height="100" width="100" alt="view">9k</span></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-12">
                                <div class="card recentarticle-card blogcard h-100">
                                    <div class="card-body">
                                        <div class="row align-items-center row-gap-4">
                                            <div class="col-12">
                                                <div class="articalimg overflow-hidden h-100"><img src="/web/assets/images/recentartical5.jpg" height="100" width="100" alt="artical"></div>
                                            </div>
                                            <div class="col-12">
                                                <div class="innerbody d-flex flex-column h-100 row-gap3">
                                                    <button class="toolbtn rounded-pill">tech</button>
                                                    <a href="blog-details.html" class="h6 eleps2 stretched-link titles">Air Pods Pro With Wireless Charging Case</a>
                                                    <p class="eleps2 discribtion">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia, hic.</p>
                                                    <div class="userdetaisl d-flex align-items-center">
                                                        <div class="clientimg"><img src="/web/assets/images/client3.jpg" height="100" width="100" alt="user"></div>
                                                        <div class="username"><a href="javascript:;">Ashley Graham</a> <span> <img src="/web/assets/images/icon/watch.svg" height="100" width="100" alt="time"> 5 min</span> <span><img src="/web/assets/images/icon/View.svg" height="100" width="100" alt="view">9k</span></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-12">
                                <div class="card recentarticle-card blogcard h-100">
                                    <div class="card-body">
                                        <div class="row align-items-center row-gap-4">
                                            <div class="col-12">
                                                <div class="articalimg overflow-hidden h-100"><img src="/web/assets/images/recentartical6.jpg" height="100" width="100" alt="artical"></div>
                                            </div>
                                            <div class="col-12">
                                                <div class="innerbody d-flex flex-column h-100 row-gap3">
                                                    <button class="toolbtn rounded-pill">tech</button>
                                                    <a href="blog-details.html" class="h6 eleps2 stretched-link titles">ELECTRIC Learn How AI Can Contribute To HR Processes</a>
                                                    <p class="eleps2 discribtion">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia, hic.</p>
                                                    <div class="userdetaisl d-flex align-items-center">
                                                        <div class="clientimg"><img src="/web/assets/images/client5.jpg" height="100" width="100" alt="user"></div>
                                                        <div class="username"><a href="javascript:;">Tousy Vita</a> <span> <img src="/web/assets/images/icon/watch.svg" height="100" width="100" alt="time"> 5 min</span> <span><img src="/web/assets/images/icon/View.svg" height="100" width="100" alt="view">9k</span></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="wigits bglightgray p4">
                            <div class="row row-gap-4">
                                <div class="col-12">
                                    <div class="card wightscard">
                                        <div class="cardheader">
                                            <h6 class="m-0">More tags</h6>
                                            <a href="javascript:;" class="viewallbtn themebtn">View all</a>
                                        </div>
                                        <div class="card-body">
                                            <ul class="taggroup">
                                                <li><a href="javascript:;">Garden (13)</a></li>
                                                <li><a href="javascript:;">Jewelry (16)</a></li>
                                                <li><a href="javascript:;">Industrial (15)</a></li>
                                                <li><a href="javascript:;">Tools (21)</a></li>
                                                <li><a href="javascript:;">Automotive (16)</a></li>
                                                <li><a href="javascript:;">Toys (25)</a></li>
                                                <li><a href="javascript:;">Outdoors (14)</a></li>
                                                <li><a href="javascript:;">Health (4)</a></li>
                                                <li><a href="javascript:;">Electronics (7)</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="card wightscard">
                                        <div class="cardheader">
                                            <h6 class="m-0">Trending topic</h6>
                                            <a href="javascript:;" class="viewallbtn themebtn">View all</a>
                                        </div>
                                        <div class="card-body p-0">
                                            <ul class="trending-topic">
                                                <li>
                                                    <div class="topicimg"><img src="/web/assets/images/trending-topic1.jpg" height="100" width="100" alt="trending"></div>
                                                    <div class="content fs-16">Electronics <span>7 Articles</span></div>
                                                    <a href="javascript:;" class="stretched-link"></a>
                                                </li>
                                                <li>
                                                    <div class="topicimg"><img src="/web/assets/images/trending-topic2.jpg" height="100" width="100" alt="trending"></div>
                                                    <div class="content fs-16">Industrial <span>26 Articles</span></div>
                                                    <a href="javascript:;" class="stretched-link"></a>
                                                </li>
                                                <li>
                                                    <div class="topicimg"><img src="/web/assets/images/trending-topic3.jpg" height="100" width="100" alt="trending"></div>
                                                    <div class="content fs-16">Health <span>20 Articles</span></div>
                                                    <a href="javascript:;" class="stretched-link"></a>
                                                </li>
                                                <li>
                                                    <div class="topicimg"><img src="/web/assets/images/trending-topic4.jpg" height="100" width="100" alt="trending"></div>
                                                    <div class="content fs-16">Toys <span>22 Articles</span></div>
                                                    <a href="javascript:;" class="stretched-link"></a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="card wightscard">
                                        <div class="cardheader">
                                            <h6 class="m-0">Discover Authors</h6>
                                            <a href="javascript:;" class="viewallbtn themebtn">View all</a>
                                        </div>
                                        <div class="card-body p-0">
                                            <ul class="trending-topic authors">
                                                <li>
                                                    <div class="topicimg rounded-circle"><img src="/web/assets/images/client1.jpg" height="100" width="100" alt="trending"></div>
                                                    <div class="content fs-16">Truelock Alric <span>Author Job</span></div>
                                                    <a href="javascript:;" class="stretched-link"></a>
                                                </li>
                                                <li>
                                                    <div class="topicimg rounded-circle"><img src="/web/assets/images/client2.jpg" height="100" width="100" alt="trending"></div>
                                                    <div class="content fs-16">Birrell Chariot <span>Author Job</span></div>
                                                    <a href="javascript:;" class="stretched-link"></a>
                                                </li>
                                                <li>
                                                    <div class="topicimg rounded-circle"><img src="/web/assets/images/client3.jpg" height="100" width="100" alt="trending"></div>
                                                    <div class="content fs-16">Foulcher Nathanil <span>Author Job</span></div>
                                                    <a href="javascript:;" class="stretched-link"></a>
                                                </li>
                                                <li>
                                                    <div class="topicimg rounded-circle"><img src="/web/assets/images/client4.jpg" height="100" width="100" alt="trending"></div>
                                                    <div class="content fs-16">Falconar Agnes <span>Author Job</span></div>
                                                    <a href="javascript:;" class="stretched-link"></a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="card wightscard blogcard ">
                                        <div class="cardheader">
                                            <h6 class="m-0">Popular Posts</h6>
                                            <a href="javascript:;" class="viewallbtn themebtn">View all</a>
                                        </div>
                                        <div class="card-body p-0">
                                            <ul class="trending-topic popularpost">
                                                <li>
                                                    <div class="leftside">
                                                        <a href="javascript:;" class="h6 fs-16 eleps1 discriptions stretched-link">New tools for Black pregnant and postpartum mothers to save lives</a>
                                                        <div class="userdetaisl d-flex align-items-center">
                                                            <div class="clientimg"><img src="/web/assets/images/client5.jpg" height="100" width="100" alt="user"></div>
                                                            <div class="username fs-14">Tousy Vita<span>May 20, 2021</span></div>
                                                        </div>
                                                    </div>
                                                    <div class="postimg"><img src="/web/assets/images/blogcard2.jpg" height="100" width="100" alt="post"></div>
                                                </li>
                                                <li>
                                                    <div class="leftside">
                                                        <a href="javascript:;" class="h6 fs-16 eleps1 discriptions stretched-link">People who inspired us in 2019 </a>
                                                        <div class="userdetaisl d-flex align-items-center">
                                                            <div class="clientimg"><img src="/web/assets/images/client1.jpg" height="100" width="100" alt="user"></div>
                                                            <div class="username fs-14">Truelock Alric <span>May 20, 2021</span></div>
                                                        </div>
                                                    </div>
                                                    <div class="postimg"><img src="/web/assets/images/blogcard1.jpg" height="100" width="100" alt="post"></div>
                                                </li>
                                                <li>
                                                    <div class="leftside">
                                                        <a href="javascript:;" class="h6 fs-16 eleps1 discriptions stretched-link">How architects visualize design for world’s biggest airport</a>
                                                        <div class="userdetaisl d-flex align-items-center">
                                                            <div class="clientimg"><img src="/web/assets/images/client2.jpg" height="100" width="100" alt="user"></div>
                                                            <div class="username fs-14">Birrell Chariot <span>May 20, 2021</span></div>
                                                        </div>
                                                    </div>
                                                    <div class="postimg"><img src="/web/assets/images/blogcard3.jpg" height="100" width="100" alt="post"></div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>